@import "../reset";
@import "99calc_variable";

@media screen and (max-width: 768px) {
    $table-height: 300px;
    // rwd本身就是獨立操作的樣式，所以特定的變數直接在該樣式設定就好
    // 另外，@media算是css的原生語法，scss可能不會處理他而過濾掉

    .main {
        .title {
            margin-bottom: map-get($space, lg);
            text-align: center;
        }

        .num-input {
            &-wrap {
                flex-direction: column;
                gap: map-get($space, md);

                &-el {
                    align-items: stretch;
                    justify-content: space-between;
                    width: 80%;

                    .inputs {
                        flex: 1;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: map-get($space, md);

                        > div {
                            gap: map-get($space, md);
                            width: 100%;
                        }
                    }

                    #calc-btn {
                        margin-left: 0;
                        padding: 0;
                        width: 54px;
                        height: unset;
                    }
                }

                &-history {
                    width: 80%;

                    label.history-open {
                        gap: map-get($space, md);
                        width: 100%;
                        border-radius: map-get($radius, md);
                        font-size: 1.2rem;

                        .history-text {
                            display: inline-block;
                            line-height: 19px;
                        }
                    }

                    input:checked ~ .el-history {
                        width: 100%;
                    }

                    .el-history {
                        width: 100%;

                        &-list {
                            width: 100%;
                        }
                    }
                }
            }
        }

        .calc-result {
            &-wrap {
                height: $table-height;

                &-table {
                    th,
                    td {
                        padding: map-get($space, sm) map-get($space, md);
                        border: 0.5px solid $text-secondary;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    $table-height: 280px;
    .main {
        .num-input {
            &-wrap {
                &-el {
                    align-items: stretch;
                    gap: map-get($space, md);

                    .inputs {
                        > div {
                            input {
                                width: 144px;
                            }
                        }
                    }

                    #calc-btn {
                        margin-left: 0;
                        padding: 0;
                        width: 42px;
                        height: unset;
                    }
                }

                &-history {
                    label.history-open {
                        width: 100%;
                        font-size: 1.2rem;
                    }

                    input:checked ~ .el-history {
                        width: 100%;
                    }

                    .el-history {
                        width: 100%;

                        &-list {
                            width: 100%;
                        }
                    }
                }
            }
        }

        .calc-result {
            &-wrap {
                height: $table-height;

                .hint {
                    font-size: map-get($font-size, md);
                }

                &-table {
                    th,
                    td {
                        padding: map-get($space, sm) map-get($space, md);
                        border: 0.5px solid $text-secondary;
                    }
                }
            }
        }
    }
}
